/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

 @font-face {
  font-family: Proxima-Nova;
  src: url('ProximaNova-Light.otf');
}

.icon-heart {
  color:pink;
}

.header-title {
  font-family: Proxima-Nova;
  font-size: 60px;
}

ul.hmenu {
  font-family: Proxima-Nova;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  float: right;
}

ul.hmenu li {
  display: inline;
}

.tagline {
  font-family: Proxima-Nova;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.splash-background .container {
  height: 350px;
}

.splash-background {
  background-image: url(/assets/mbackground.jpg);
  background-size: cover;
}

.footer {
  margin-top: 20px;
  padding: 15px 20px;
}

.footer .row p {
  font-size: 10px;
  font-family: Proxima-Nova;
}