<div class="row">
  <div class="large-9 columns">
    <h1 class="header-title">My Vanity <i class="icon-heart"></i></h1>
  </div>
  <div class="large-3 columns">
    <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
    </ul>
  </div>
</div>

<div class="row">

  <br>
  <br>
  <br>

</div>

<div class="row footer">
  <span class="large-12 columns">
    <p> © 2013 My Vanity </p>
  </span>
</div>



